<div  id="app">
  <nav class="navbar navbar-expand navbar-dark " style="background-color: #808080;">
    <a href="/userlogin" class="navbar-brand" >Highly Confidential security System</a>
    
    <ul  class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a style="color: rgb(247, 241, 241);" href="admin/donormg" class="nav-link" routerLink="admin/donormg"><b>Donor Management</b></a>
      </li>
      <li class="nav-item">
        <a style="color: rgb(247, 241, 241);" href="admin/usermg" class="nav-link" routerLink="admin/usermg"><b>User Management</b></a>
      </li>
    </ul>


  </nav>


  
  
  <div  class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
      <p>Email us for queries at : pranaygarlapati@gmail.com</p>
      <a href="/userlogin">Login_page</a>
</div>
</div>
</div>
</div>
