<div class="col-md-12">

  <div class="card card-container" style="background-color:white;">
    <h4 style="text-align: center;color: red;"> User Signup </h4>
    <br>
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label  style="color:red;" for="name"> <h6> Name </h6></label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.pname"
          required
          minlength="3"
          maxlength="20"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required"> <h6 > Name is required </h6></div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 3 characters
          </div>
          <div *ngIf="name.errors.maxlength">
            Name must be at most 20 characters
          </div>
        </div>
      </div>


      <div class="form-group">
        <label   style="color:red;" for="email"><h6>Email</h6></label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.emailid"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label  style="color:red;" for="password"><h6>Password</h6></label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group" >
        <button   style = "background-color: red;" class="btn btn-primary btn-block"><h6>Sign Up</h6>
        </button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>

    <div style="text-align:center;">
      <a href="/user/login"><b style="color:red;">Registerd? Sign in !! </b> </a>   
     </div>
 
  </div>
</div>
